<div class="container">
  <div class="row friend-form">
      <form class="form-horizontal" action="/new" method="post">
        <div class="control-group">
          <label class="control-label" for=inputName>Name</label>
          <div class="controls">
            <input type="text" name="name" placeholder="Your name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for=inputAge>Age</label>
          <div class="controls">
            <input type="text" name="age" placeholder="Your age">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for=inputGender>Gender</label>
          <div class="controls">
            <input type="text" name="gender" placeholder="Gender">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for=inputPhoto>Photo</label>
          <div class="controls">
            <input type="text" name="photo" placeholder="Photo">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for=inputFacebook>Facebook Link</label>
          <div class="controls">
            <input type="text" name="facebook" placeholder="Facebook link">
          </div>
        </div>
        <div class="controls">
          <button type="submit" class="btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
