<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Friends</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/jquery-1.10.1.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
  </head>

  <body class=body>
    <div class="container">
      <div class="div-masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/new">Add a Friend</a></li>
          <li><a href="/">Show Friends</a></li>
        </ul>
        <h3> My Friends</h3>
      </div>
    </div>
    <!-- <div class="clear"> -->
      <%= yield %>
    <!-- </div> -->
    <div class="footer">
      <p>&copy; Friends</p>
    </div>
  </body>

</html>

